body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.content{
    
    font-size: 20px;
}
.top {
    width: 100%; 
    font-size: 25px;
    background-color: #151516;
    padding: 2px;
}
.top nav ul{
    
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    
}
.top nav ul li{
    position: relative;
    margin-right: 120px;

}
.top nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.top nav ul li a:hover {
    color: #584a4a;
}
.top .login {
    margin-left: auto;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.merop h1{
    text-align: center;
    margin-bottom: 50px;
}
.img img {
    width: 250px;
    height: 350px;
    
}
.img img:hover {
    filter: brightness(70%);
    transition: filter 0.5s ease;
    
}
img{
    border-radius: 10px;
}

.events {
    display: flex; 
    justify-content: left;
    overflow-x: auto;
}

.event-container {
    padding: 0; 
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.event-item {
    margin: 0 25px; 
    text-align: left; 
    border-radius: 10px;
    font-size: 19px;
    margin-top: 40px;
    
}





.event-name{
    color: #151516;
    font-weight: 600;
    line-height: 115%;
    margin-bottom: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.event-time{
    margin-bottom: 10px;
}

  
footer {
    position: fixed;
    bottom: 0;
    right: 0; 
    width: auto;
    background-color: transparent;
    padding: 10px;
}

footer p {
    text-align: left;
    margin: 0;
}




.info2 {
    margin: 50px;
    display: flex;
    
}
.img2 {
    margin-right: 30px;
}

.event-img2 {
    max-width: 492px;
    max-height: 492px;
}
.text2{
    max-width: 50%;
}
.text2 p{
    opacity: 35%;
}
.event-name2 {
    font-size: 40px;
    margin-bottom: 30px;
    
}
.location{
    margin-top: 5%;
}
.button{
    margin-top: 10%;
}
.timee{
    margin-top: 5%;
    opacity: 35%;
    margin-bottom: 0%;
}
.description{
    line-height: 120%;
}
.event-time2 {
    margin-top: auto;
}
.event-name2 {
    font-size: 50px;
    margin-bottom: 10px; 
}

.event-time2 {
    margin-top: auto;
    margin-top: 10px; 
}


form {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


button {
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}


button:hover {
    opacity: 0.8;
}




.container {
    padding: 16px;
}



@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}


.register {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    
    background-color: #f2f2f2;
  }
  
  .register h1 {
    text-align: center;
  }
  
  .register p {
    text-align: center;
  }
  
  .register label {
    font-weight: bold;
  }
  .register input[type="email"],
  .register input[type="text"],
  .register input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
  .register input[type="submit"] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 9px;
    cursor: pointer;
  }
  
  .register input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .register .signin {
    text-align: center;
  }
  

